<div class="form-field">
    {% for answer in question.answers %}
        <input type="checkbox" name="{{ survey.id ~ 'x' ~ group.id ~ 'x' ~ question.id }}" value="{{ answer.value }}">{{ answer.text }}</input>
    {% endfor %}
</div>
