<div class="form-field">
    <ul class="choice">
        <li class="choice__value">
            <label>
                {{ form_radio(survey.id ~ 'x' ~ group.id ~ 'x' ~ question.id, 1, false) }} Yes
            </label>
        </li>
        <li class="choice__value">
            <label>
                {{ form_radio(survey.id ~ 'x' ~ group.id ~ 'x' ~ question.id, 0, false) }} No
            </label>
        </li>
    </ul>
</div>
