{% extends '../templates/default.twig' %}

{% block content %}

    <h1>{{ survey.text }}</h1>
    <h2>{{ survey.small_text }}</h2>

    <p>{{ survey.description_text }}</p>
    <p>{{ survey.welcome_text }}</p>

{% endblock %}