<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Happy City Index</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
    </head>
    <body>

        <div class="inner">
            <main>
                {% include 'includes/message.twig' %}
                {% include 'includes/errors.twig' %}

                {% block content %}{% endblock %}

            </main>
        </div>

        {% if app.env == 'debug' %}
            <script src="{{ asset('js/all.js') }}"></script>
        {% else %}
            <script src="{{ elixir('js/all.js') }}"></script>
        {% endif %}
    </body>
</html>
