{% extends '../templates/default.twig' %}

{% block content %}

	{% for group in groups %}
        <h1>{{ group.text }}</h1>
	    <h2>{{ group.small_text }}</h2>

	    <p>{{ group.slug }}</p>

	    <hr>
    {% endfor %}

{% endblock %}